.form-feedback{
    padding: 180px 0;
    background-image: url(assets/feedback-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    filter: hue-rotate(100deg);
};

#center-button{ 
    display: flex;
    justify-content: center;
}

.form-column {
    background: white;
    padding: 20px;
    padding-top: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.blue-line {
    position: relative;
    height: 50px;
    width: 100%;
    background: #5bc0de;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    filter: hue-rotate(280deg);
}

.blue-line > span {
    color: white;
    font-size: 16px;
}



.feedback-img {
    width: 250px;
    position: relative;
    bottom: 28px;
}

.results-img {
    width: 250px;
    height: 200px;
}

.submit-feedback {
    padding: 60px 0;
    background: white;
}

.feedback-results {
    padding: 60px 0;
    background: #F5F5F5;
}

footer {
    height: 50px;
    background: #DCDCDC;
}

#right-position {
    display: flex;
    justify-content: flex-end;
    
}

.span-copyright{
    padding: 15px 0;
}

.h4-title {
    margin-bottom: 40px;
}

.submit {
    margin-top: 50px;
    filter: hue-rotate(280deg);
}

.btn-center{
    width: 90px;
    padding: 3px;
    box-shadow: 0 10px 16px -6px #777;
}