body, html {
    height: 100%;
}
.container {
    margin: 0 auto;
    width: 960px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



.row-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback {
    padding: 100px 0;
    background-image: url(assets/feedback-banner.jpg);
    background-size: cover;
    background-position: center;
}

.column-30 {
    width: 30%;
}

.column-10 {
    width: 10%;
}

.column-60{
    width: 60%;
}



form {
    display: flex;
    flex-direction: column;
    
    background: white;
    padding-top: 30px;
    padding-bottom: 30px
}

.blue-line {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #03A9F4;
    color: white;
}

.button {
    background: #03A9F4;
    padding: 2px 25px;
    color: white;
    margin-top: 60px;
    border-radius: 3px;
    box-shadow: none;
}

.field:first-child{
    margin-bottom: 15px;
    width: 85%;
}

.field:nth-child(2){
    width: 85%;    
}



.field > input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid grey;
}

.image-feedback img{
    width: 100%;
}

.text-wrapper {
    width: 100%;
}

.new-feedback {
    padding: 30px 0;
}

footer{ 
    height: 50px;
    background: grey;
    
}

.footer-paragraph {
    float: right;
}

.result-feedback {
    padding: 70px 0;
}

/*EVALUATION*/

ul, li {
    list-style-type: none;
}

.inner-ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logout {
    float: right
}

.menu ul {
    display: flex;
    align-items: center;
}

ul,li {
    padding: 0;
    margin: 0;
}

.menu {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-bottom: 2px solid grey;
}

table {
    width: 100%;
    border: 0;
    margin:0;
    padding: 0;
}


#table-row th {
    text-align: left;
    background: #03A9F4;
    height: 40px;
    color: white;
}

#tbody tr td {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid black;
}

#fixed-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.table {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
}


table {
    border-collapse: 0;
    border-spacing: 0;
}



/*NEW EVALUATION*/


.user-input {
    width: 100%;
}

.field-new1 input, .field-new input {
   width: 45%;
   
}


.form-candidate {
    height: 100%;
}

.blue-line2 {
    height: 50px;
    background: #03A9F4;
}

.blue-line2 {
    display: flex;
    justify-content: space-around;
}

.trainee-blue,.junior-blue,.middle-blue,.senior-blue {
    line-height: 50px;
    color: white;
}

.trainee-blue {
    margin-left: -30px;
}


.field-radio {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 5px 0;
}


input[type=radio]{
    margin: 7px;
}

textarea {
    border: 1px solid black;
}

.margin-right{ 
    margin-right: 5%;
}


#select {
    float: right;
}

fieldset {
    width: 100%;
}

#footer-new {
    position: relative;
    
    
}








