.reveal
    display: block
    background: blue
    height: 60px
    width: 60px

.hidethis
    display: none

.details-list
    list-style-type: none

#accordion
    padding: 0
    margin: 0

.details-textarea
    display: inline-flex
    width: 100%
    border: 1px solid $main-color
    margin-bottom: 25px
    position: relative
    
    p
        padding-left: 20px

    &::before
        background: $main-color
        border-radius: 3px 3px 0 0
        bottom: 100%
        color: $white
        content: 'textarea'
        display: inline-block
        font-size: 8px
        left: -1px
        letter-spacing: 1px
        padding: 3px 5px
        position: absolute
        text-transform: uppercase
        vertical-align: top

.textarea-details-wrapper
    margin-top: 25px

.oop-wrapper, .http-wrapper, .html-wrapper, .css-wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.details-oop
    display: inline-block
    width: 22%
    margin-bottom: 25px
    border: 1px solid $main-color
    position: relative
    padding: 10px 0
    text-align: center

    &::before
        background: $main-color
        border-radius: 3px 3px 0 0
        bottom: 100%
        color: $white
        content: 'oop'
        display: inline-block
        font-size: 8px
        left: -1px
        letter-spacing: 1px
        padding: 3px 5px
        position: absolute
        text-transform: uppercase
        vertical-align: top

.details-http
    display: inline-block
    width: 22%
    margin-bottom: 25px
    border: 1px solid $main-color
    position: relative
    padding: 10px 0
    text-align: center
    &::before
        background: darken($main-color, 7%)
        border-radius: 3px 3px 0 0
        bottom: 100%
        color: $white
        content: 'http'
        display: inline-block
        font-size: 8px
        left: -1px
        letter-spacing: 1px
        padding: 3px 5px
        position: absolute
        text-transform: uppercase
        vertical-align: top


.details-html
    display: inline-block
    width: 22%
    margin-bottom: 25px
    border: 1px solid $main-color
    position: relative
    padding: 10px 0
    text-align: center
    &::before
        background: darken($main-color, 14%)
        border-radius: 3px 3px 0 0
        bottom: 100%
        color: $white
        content: 'html'
        display: inline-block
        font-size: 8px
        left: -1px
        letter-spacing: 1px
        padding: 3px 5px
        position: absolute
        text-transform: uppercase
        vertical-align: top


.details-css
    display: inline-block
    width: 22%
    margin-bottom: 25px
    border: 1px solid $main-color
    position: relative
    padding: 10px 0
    text-align: center
    &::before
        background: darken($main-color, 21%)
        border-radius: 3px 3px 0 0
        bottom: 100%
        color: $white
        content: 'css'
        display: inline-block
        font-size: 8px
        left: -1px
        letter-spacing: 1px
        padding: 3px 5px
        position: absolute
        text-transform: uppercase
        vertical-align: top
