.table-section
    height: calc(100% - 150px)
    display: flex
    align-items: center
        
.table-evaluation
    border-collapse: 0
    border-spacing: 0
    width: 100%
    margin: 0
    padding: 0
    
.table-head-element
    text-align: left
    height: 40px
    
.table-body-tr
    td
        padding: 10px 0
        border: 0
        border-bottom: 1px solid $black
            
.detalii 
    text-align: right