.technical-level-table
    margin-bottom: 30px
    width: 100%
    border-collapse: 0
    border-spacing: 0

.technical-level
    height: 40px
    padding-top: 10px
    
.technical-level-td
    width: 25%
    text-align: center
    
.technical-level-category
    width: 25%
    text-align: center
        
.input-checkbox
    margin: 7px
                
    
    
    
    

  