.textarea-wrap
    margin-bottom: 30px

textarea
    border: 1px solid $black
    width: 99.9%
    padding: 0
    margin: 0
    
    
    &:focus
        outline: none
        border: 1px solid $main-color
        box-shadow: 0 0 5px #719ECE