<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="../../../../sass-architecture/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
    </div>
    <!-- data  -->
    <script type="text/javascript" src='../common/common.js'></script>
    <script type="text/javascript" src='../../data/data.js'></script>
    <script type="text/javascript" src='../../data/storeData.js'></script>
    <script type="text/javascript" src='../../data/loginData.js'></script>
    <script type="text/javascript" src='../../utils/ApplicationManager.js'></script>

    <!-- views -->
    <script type="text/javascript" src='../login/login.js'></script>
    <script type="text/javascript" src='../evaluation/evaluation.js'></script>
    <script type="text/javascript" src='../new-evaluation/new-evaluation.js'></script>

    <!-- utils -->
    <script type="text/javascript" src='../../utils/LocalStorageWrapper.js'></script>
    
    <!-- controllers -->
    <script type="text/javascript" src='../../events/LoginEvents.js'></script>
    <script type="text/javascript" src='../../events/EvaluationPageEvents.js'></script>
    <script type="text/javascript" src='../../events/NewEvaluationPageEvents.js'></script>

    <!-- entry point -->
    <script type="text/javascript" src="index.js"></script>
</body>

</html>