html,body 
    font-family: $font
    
.textarea-header, .technical-header
    color: $main-color

legend
    color: $main-color
    font-weight: bold
    
option, .select
    font-size: 13px
    color: $black
    
    
.description
    color: $black
    font-size: $font-small
    
.header-text
    font-size: $font-big
    
.paragraph-text
    font-size: $font-small
    letter-spacing: 0.5px
    line-height: 130%
    
.button-login-form
    font-size: $font-small
    font-weight: 300

.submit-button
    font-weight: 300
    font-size: $font-normal
    
.blue-line
    font-size: $font-normal
    
.link-logout
    font-size: $font-big
    text-decoration: none
    
.link-block
    text-decoration: none
    font-size: $font-normal
